body, p, table, td, tr {
	font-family: "Trebuchet MS", Arial, sans-serif;
	font-size: 10pt;

	color: #000000;
}

body {
	background-color: white;
}

body, form {
	text-decoration: none;
	margin: 0px;
	padding: 0px;
}

div#Body {
	display: block;
	padding-left: 7px;
	padding-right: 7px;
}

h1 {
	color: #000000;
	font-size: 16pt;
	text-decoration: none;
}

h2 {
	color: #000000;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 14pt;
	text-decoration: none;
}

h3 {
	color: #000000;
	font-size: 13pt;
	text-decoration: none;
	margin-bottom: 0;
	margin-top: 0
}

h4 {
	color: #000000;
	font-size: 11pt;
	text-decoration: none;
	margin-bottom: 0;
	margin-top: 0;
	font-weight: normal
}

Table#HeaderTable {
	border-bottom: solid black 1px;
}

td.TitleBar td {
	background-color: #326584;
	vertical-align: bottom;
	white-space: nowrap;
}

td.TitleBar td.HeaderLinks {
	padding-right: 4px;
	padding-left: 1px;
	text-align: right;
	font-size: 11px;
	vertical-align: top;
	height: 32px;
	color: white;
}

td.HeaderLinks a {
	color: white;
	font-weight: bold;
	vertical-align: middle;
}

span#CurrentUser {
	color: white;
	font-size: 11px;
	vertical-align: middle;
}

.Label, a.Label:link,
a.Label:visited,
a.Label:active,
a.Label:focus,
a.Label:hover {
	color: white;
	font-variant: small-caps;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
	vertical-align: middle;
	padding-left: 3px;
}

td.Logo {
	background-color: white;
	width: 100px;
	text-align: center;
}

.ContextBar {
	margin-top: 6px;
	margin-bottom: 12px;
	border-bottom: 1px solid;
}

.ButtonBar {
	border-top: 1px solid;
	margin-right: 0px;
	margin-top: 2px;
	padding-top: 4px;
}

.ErrorBar {
	margin-top: 12px;
	margin-bottom: 10px;
	border-top: 1px solid;
	border-bottom: 1px solid;
	background-color: #FFE0E0;
	padding-top: 5px;
	padding-left: 5px;
}

ul.Error {
	margin-top: 3px;
	margin-bottom: 3px;
}

.Error {
	background-color: #FFE0E0;
}

th {
	background: #cfe2eb;
	color: black;
	text-align: left;
	border-bottom: black 1px solid;
}

tr.even {
	color: black;
	background-color: white;
}

tr.odd {
	color: black;
	background: #E4E4E4;
	border-width: 0;
}

tr th, tr.even td, tr.odd td {
	padding-left: 4px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
}

tr.footer, tr.footer td {
	background-color: white;
	color: black;
	border-top: black 1px solid;
	padding-left: 4px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

table.datatable {
	border-color: #222222;
	border-style: solid;
	border-width: 2px
}

table.formtable {
	margin-top: 3px;
	margin-bottom: 3px;
	padding-left: 0px;
	padding-right: 0px;
	border-color: #222222;
	border-style: solid;
	border-width: 1px;
}

table.formtable td, table.formtable th {
	padding-left: 3px;
	padding-right: 3px;
}

a:link,
a:visited,
a:active,
a:focus {
	color: blue;
	text-decoration: none;
}
a:hover {
	color: red;
	text-decoration: none;
}


